body{
    margin: 20;
    padding: 10;
  }

.title{
    background: skyblue;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  transition: background-color 0.3s;
}

.book{
  background: lightgreen;
  text-align: center;
  transition: background-color 1s;
  color: red;
}